!!! 5
%html
  %head
    %meta{ 'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8' }
    %title= @page_title
    != css :application
    != js  :jsforhead

  %body
    #container
      #header
        %h1
          A twitter archive for
          %a{:href=>"/"}= @user.screen_name
        %ul
          %li= "#{@user.tweets.count} updates"
          %li= "#{@user.attrs.friends_count} friends"
          %li= "#{@user.attrs.followers_count} followers"
          %li= "joined #{pretty_date(@user.created_at)}"
          %li
            %a{:href => "http://twitter.com/#{@user.screen_name}"} twitter.com/philoye

      #page
        #bar-wrapper
          #bar
            #search
              %form{ :method => 'post', :action => '/'}
                %input{:autofocus=>true, :id => "search_field", :type => 'search', :tabindex=> 1, :name => 'query', :value => @query || "", :results=> "5", :autocomplete => "off", :placeholder => "Search" }
            = yield_content :pagination

        #content
          = yield

      #footer
        %ul
          %li
            :plain
              Powered by <a href="http://github.com/philoye/tweetden">TweetDen</a>. Grab the <a href="http://github.com/philoye/tweetden">source</a> from GitHub and create your own.

    != js  :application

